<!-- public/views/nerd.html -->

<!--
<div class="jumbotron text-center">
    <h1>Nerds and Proud</h1>

    <p>{{ tagline }}</p>
</div>
-->
<div width=window.screenWidth>
	<div class="row">
		<div class="col-md-4" style="text-align: center; font-size: 4em; color: red;">{{currentWord}}</div>
		<div class="col-md-4"></div>
		<div class="col-md-4" style="text-align: center; font-size: 4em; color: blue;">{{numSeconds}}</div>
	</div>
	<div class="row" style="height: 10em;">
		<div class="col-md-12">
			<div style="text-align: center;">
			<img src="/assets/img/play.png" data-ng-click="playCurrentAudio()">
			</div>
		</div>
	</div>
	<div class="row" style="height: 7.5em; background-color:#000;">
	</div>
	<div class="row" style="height: 10em; background-color:#000;">
		<div style="text-align: center;">
			<form ng-submit="submitFullWord()" autocomplete="off">
				<input type='text' id='#maininput' ng-model="mainInputText" autofocus>
			</form>
		</div>
	</div>
	<div class="row">
	    <div class="col-md-4" style="text-align: center;"></div>
		<div class="col-md-4" style="text-align: center;"><button type="button" data-ng-click="stopTimer()">Stop</button></div>
		<div class="col-md-4" style="text-align: center;"></div>
	</div>
</div>
<div data-ng-init="init()"></div>