input {
	display: block;
	margin : 0 auto;
	outline:none;
	font-family: sans-serif;
	font-size: 5em;
	text-align: center;
	border: 0px;
	width: 100%;
}
input:focus {
	outline:none;
	border: 0px;
	width: 100%;
}